.card-container {
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  width: 100%;
  background: aqua;
}

.card {
  background-color: #fefefe;
  border-radius: 15px;
  width: 80%;
  margin: 20vh 0;
}

.card-header {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.avatar {
  border-radius: 100%;
  width: 70px;
  margin-right: 20px;
}

.character-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.character-name {
  font-weight: 900;
  font-size: 20px;
  text-transform: capitalize;
}

.character-status {
  color: rgb(161, 191, 166);
  border-radius: 30px;
  background: #ebf7ec;
  padding: 2px;
  text-transform: capitalize;
  font-weight: 900;
  width: 50px;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
}

.character-props {
  list-style: none;
  padding: 0 0 50px 2%;
}
.prop-item {
  display: flex;
  align-items: center;
}

.icn-blue {
  color: #0a6dfe;
  padding: 10px;
}

.card-footer {
  display: flex;
  justify-content: center;
}

.btn-regular {
  background-color: #ededed;
  color: black;
  border: none;
  font-size: 16px;
  margin: 15px;
  width: 48%;
  height: 50px;
  box-shadow: 2px 2px #00000061;
  border-radius: 5px;
  margin-left: 2%;
}

.btn-primary {
  background-color: #0a6dfe;
  color: white;
  border: none;
  font-size: 16px;
  margin: 15px;
  width: 48%;
  height: 50px;
  box-shadow: 2px 2px #00000061;
  border-radius: 5px;
  margin-right: 2%;
}