.header {
  background-color: black;
  height: 100px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
    margin: 15px 0;
    text-transform: capitalize;
    font-size: 20px;
}

.subtitle{
    text-transform: capitalize;
    font-size: 15px;
}